{% extends 'base.html' %}

{% block head %}
<title>Drone Route</title>
{% endblock %}



{% block body %}
<div class="content">
    <h1>Update Landing Point</h1>

    <table>
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
        </tr>
    </table>

    <form action="/update_landing/{{landing.id}}" method="post">
        <input type="text" name="latitude" id="latitude_landing" value="{{landing.landing_latitude}}">
        <input type="text" name="longitude" id="longitude_landing" value="{{landing.landing_longitude}}">
        <input type="submit" value="Update Landing Point">
    </form>
</div>
{% endblock %}